body{
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    color: white;
    background-color: #1c1d25;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show{
 display: block;   
}

li{
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 50px;
}

p{
    font-size: 30px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
    cursor: pointer;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080;
}

.socials{
    padding-bottom: 200px;
}

.social{
    margin: 20px;
}

.logo{
    height: 80px;
    margin: 30px;

}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
}

.sub-section-alternate{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.headshot{
    width: 300px;
    border-radius: 100%;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(179, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.subtext{
    font-weight: 300;
    font-size: 15px;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
}

.project-links{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.navbar-items{
    cursor: pointer;
}

.project-link{
    margin: 5px;
    background-color:  #1c1d25;
    border-radius: 10px;
    padding: 10px;
}

.hamburger{
    display: none;
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        cursor: pointer;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #2b2c38;
        margin: 0px;
        padding: 5px;
    }

    ul.show{
        display: block;   
       }

    nav{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
        background-color: #2b2c38;
    }

    .logo{
        display: none;
    }
}
/* TODO: Need to fix the navBar-items scroll  */



