body{
    font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    height: 500px;
    background-color: brown;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    text-decoration: none;
}

h1{
    font-size: 90px;
}

.hero-text{
    margin-left: 80px;
}

.button{
    width: 220px;
    height: 65px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
}